*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    background-color: $bgcolor;
    font-family: 'Heebo', sans-serif;
}

@each $heading in (h2) {
    #{$heading} {
      color: $fontcolor;
      font-size: xx-large; 
      font-weight: bolder; 
      text-align: center;
      justify-content: center;
    }
  }

.franquicia{
  font-size: large;
  font-weight: bolder;
  font-family: $font;
  color: $fontcolor;
}